.container {
  width: 100vw;
}

.app {
  max-width: 500px;
  padding: 5%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.title {
  border: solid 2px black
}

.buttons {
  display: flex;
  justify-content: space-between;
}